[Unit]
Description=Setup /etc/issue as a motd service.
Before=getty@.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/issue.sh

[Install]
WantedBy=multi-user.target
